In [ ]:
#Pre-processing - Preparing the data to be fed inside the model 80% 
#ML (baby!) - Carefull with what you are feeding..!

In [ ]:
#1. Cleaning the data
#2. Extracting Features out of data

## 1. Data Cleaning

### NA values or null values

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Data/companytest.csv")

“ “, “#N/A”, “#N/A N/A”, “#NA”, “-1.#IND”, “-1.#QNAN”, “-NaN”, “-nan”, “1.#IND”, “1.#QNAN”, “<NA>”, “N/A”, “NA”, “NULL”, “NaN”, “None”, “n/a”, “nan”, “null “.

In [7]:
data.isna().sum()

Company    3
Age        4
Salary     7
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  30 non-null     object
 1   Age      29 non-null     float64
 2   Salary   26 non-null     float64
dtypes: float64(2), object(1)
memory usage: 920.0+ bytes

In [ ]:
#CHURN ANALYSIS - AIRTEL 
1. How many people will churn away - will the customer churn away... Secondary Phone Number - 30% - Drop the Column 
2. 1 - Churn | 0 - Not Churn - Area 2% 0f the rows Null..

1. Filling the NA values... Mean / Median / Mode Imputation
2. Filling K-Nearest-Neighbors - Euclidean Distance 
3. Drop The column..!