In [ ]:
#Pre-processing - Preparing the data to be fed inside the model 80% 
#ML (baby!) - Carefull with what you are feeding..!

In [ ]:
#1. Cleaning the data
#2. Extracting Features out of data

## 1. Data Cleaning

### a. NA values or null values

In [24]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Data/companytest.csv")

“ “, “#N/A”, “#N/A N/A”, “#NA”, “-1.#IND”, “-1.#QNAN”, “-NaN”, “-nan”, “1.#IND”, “1.#QNAN”, “<NA>”, “N/A”, “NA”, “NULL”, “NaN”, “None”, “n/a”, “nan”, “null “.

In [7]:
data.isna().sum()

Company    3
Age        4
Salary     7
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  30 non-null     object
 1   Age      29 non-null     float64
 2   Salary   26 non-null     float64
dtypes: float64(2), object(1)
memory usage: 920.0+ bytes

In [ ]:
#CHURN ANALYSIS - AIRTEL 
1. How many people will churn away - will the customer churn away... Secondary Phone Number - 30% - Drop the Column 
2. 1 - Churn | 0 - Not Churn - Area 2% 0f the rows Null..

1. Filling the NA values... Mean / Median / Mode Imputation
2. Filling K-Nearest-Neighbors - Euclidean Distance 
3. Drop The column..!

In [9]:
data.head()

  Company    Age     Salary
0       b   40.0  9000000.0
1       d  300.0     1000.0
2       a   30.0     -400.0
3     'a'   20.0        NaN
4       c   30.0        NaN

In [ ]:
#MODE for non-numeric 
#Mean and Median for numeric

In [ ]:
data['Age'].fillna(data['Age'].median())

In [12]:
import statistics
statistics.mode(data['Company'])

'b'

In [14]:
data['Company'].value_counts()

b      9
a      9
c      8
'a'    2
d      1
'c'    1
Name: Company, dtype: int64

### b. Fixing the impurities

In [15]:
data.head()

  Company    Age     Salary
0       b   40.0  9000000.0
1       d  300.0     1000.0
2       a   30.0     -400.0
3     'a'   20.0        NaN
4       c   30.0        NaN

In [16]:
data['Company'] = data['Company'].fillna("Not Specified")
data['Company'] = data['Company'].apply(lambda x: x.replace("'",''))
data['Company'].value_counts()

a                11
b                 9
c                 9
Not Specified     3
d                 1
Name: Company, dtype: int64

In [17]:
data['Age'].describe()

count     29.000000
mean      40.758621
std       50.644881
min       18.000000
25%       23.000000
50%       34.000000
75%       40.000000
max      300.000000
Name: Age, dtype: float64

In [27]:
data['Age'].loc[(data['Age'] > 60) | (data['Age'] < 18)] = np.nan

/var/folders/4n/9tgv1jfx4gd0t44r5_wvrq440000gn/T/ipykernel_4248/2596792221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Age'].loc[(data['Age'] > 60) | (data['Age'] < 18)] = np.nan

In [ ]:
data['Salary'].describe()

In [31]:
data['Salary'].loc[(data['Salary']< 0)] = np.nan

/var/folders/4n/9tgv1jfx4gd0t44r5_wvrq440000gn/T/ipykernel_4248/891362009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Salary'].loc[(data['Salary']< 0)] = np.nan

In [32]:
data['Salary'].describe()

count    2.500000e+01
mean     3.645692e+05
std      1.799050e+06
min      1.000000e+03
25%      3.000000e+03
50%      4.824000e+03
75%      7.084000e+03
max      9.000000e+06
Name: Salary, dtype: float64

In [33]:
data.head()

  Company   Age     Salary
0       b  40.0  9000000.0
1       d   NaN     1000.0
2       a  30.0        NaN
3       a  20.0        NaN
4       c  30.0        NaN